@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: fit-content;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1400' height='540' preserveAspectRatio='none' viewBox='0 0 1400 540'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath18229%26quot%3b)' fill='none'%3e%3crect width='1400' height='540' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient18230%26quot%3b)'%3e%3c/rect%3e%3ccircle r='22.19' cx='1091.29' cy='534.41' fill='url(%26quot%3b%23SvgjsLinearGradient18231%26quot%3b)'%3e%3c/circle%3e%3ccircle r='40.53' cx='183.98' cy='442.22' fill='url(%26quot%3b%23SvgjsLinearGradient18232%26quot%3b)'%3e%3c/circle%3e%3ccircle r='19.44' cx='811.79' cy='2.26' fill='url(%26quot%3b%23SvgjsLinearGradient18233%26quot%3b)'%3e%3c/circle%3e%3ccircle r='18.61' cx='19.35' cy='243.21' fill='url(%26quot%3b%23SvgjsLinearGradient18234%26quot%3b)'%3e%3c/circle%3e%3ccircle r='32.735' cx='564.93' cy='421.44' fill='url(%26quot%3b%23SvgjsLinearGradient18235%26quot%3b)'%3e%3c/circle%3e%3ccircle r='32.72' cx='646.66' cy='274.65' fill='url(%26quot%3b%23SvgjsLinearGradient18236%26quot%3b)'%3e%3c/circle%3e%3ccircle r='17.955' cx='613.75' cy='521.04' fill='url(%26quot%3b%23SvgjsLinearGradient18237%26quot%3b)'%3e%3c/circle%3e%3ccircle r='50.98' cx='39.89' cy='102.15' fill='url(%26quot%3b%23SvgjsLinearGradient18238%26quot%3b)'%3e%3c/circle%3e%3ccircle r='18.28' cx='857.85' cy='534.04' fill='url(%26quot%3b%23SvgjsLinearGradient18239%26quot%3b)'%3e%3c/circle%3e%3ccircle r='47.935' cx='305.36' cy='360.37' fill='url(%26quot%3b%23SvgjsLinearGradient18240%26quot%3b)'%3e%3c/circle%3e%3ccircle r='31.6' cx='1081.01' cy='32.95' fill='url(%26quot%3b%23SvgjsLinearGradient18241%26quot%3b)'%3e%3c/circle%3e%3ccircle r='26.09' cx='773.39' cy='274.21' fill='url(%26quot%3b%23SvgjsLinearGradient18242%26quot%3b)'%3e%3c/circle%3e%3ccircle r='29.04' cx='1227.23' cy='198.02' fill='url(%26quot%3b%23SvgjsLinearGradient18243%26quot%3b)'%3e%3c/circle%3e%3ccircle r='45.13' cx='558.23' cy='95.18' fill='url(%26quot%3b%23SvgjsLinearGradient18244%26quot%3b)'%3e%3c/circle%3e%3ccircle r='17.02' cx='692.27' cy='253.33' fill='url(%26quot%3b%23SvgjsLinearGradient18245%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath18229'%3e%3crect width='1400' height='540' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='15.36%25' y1='139.81%25' x2='84.64%25' y2='-39.81%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18230'%3e%3cstop stop-color='rgba(17%2c 0%2c 37%2c 1)' offset='0.24'%3e%3c/stop%3e%3cstop stop-color='rgba(7%2c 0%2c 60%2c 1)' offset='0.56'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1135.6699999999998' y1='490.03' x2='1046.9099999999999' y2='578.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18231'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='265.03999999999996' y1='361.16' x2='102.91999999999999' y2='523.28' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18232'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='850.67' y1='-36.620000000000005' x2='772.91' y2='41.14' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18233'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='56.57' y1='205.99' x2='-17.869999999999997' y2='280.43' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18234'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='630.3999999999999' y1='355.97' x2='499.4599999999999' y2='486.91' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18235'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='712.1' y1='209.20999999999998' x2='581.22' y2='340.09' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18236'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='649.6600000000001' y1='485.13' x2='577.84' y2='556.95' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18237'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='141.85' y1='0.19000000000001194' x2='-62.06999999999999' y2='204.11' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18238'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='894.41' y1='497.47999999999996' x2='821.29' y2='570.5999999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18239'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='401.23' y1='264.5' x2='209.49' y2='456.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18240'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1144.21' y1='-30.25' x2='1017.81' y2='96.15' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18241'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='825.57' y1='222.02999999999997' x2='721.21' y2='326.39' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18242'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1285.3100000000002' y1='139.94' x2='1169.15' y2='256.1' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18243'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='648.49' y1='4.920000000000002' x2='467.97' y2='185.44' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18244'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='726.3100000000001' y1='219.29000000000002' x2='658.23' y2='287.37' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient18245'%3e%3cstop stop-color='rgba(123%2c 51%2c 199%2c 1)' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 141%2c 178%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 3px;
  width: 6px;
  background-color: inherit;
}

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    height: 2px;
    width: 1px;
    background-color: inherit;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgb(46, 140, 171);
}

.side-bar::-webkit-scrollbar {
  width: 2px;
}

.side-bar {
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-image: linear-gradient(
    50deg,
    rgb(11, 0, 97),
    hsl(267.57deg 100% 7.25%) 48%,
    hsl(267.57deg 100% 7.25%) 100%,
    hsl(267.57deg 100% 7.25%) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.side-bar:hover {
  scrollbar-width: inherit !important;
}

.slick-dots {
  padding: 0px 10px !important;
}

.slick-dots li {
  flex-grow: 1 !important;
}

.slick-dots li button {
  opacity: 0.7 !important;
}

.slick-dots li.slick-active button {
  background: rgb(0, 170, 255) !important;
}

.ant-rate-star-zero svg {
  color: rgb(175, 175, 175) !important;
}

.ant-segmented-item {
  padding: 3px;
  margin: 0px 4px;
}

.line {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.ant-select-arrow,
.ant-select-selector,
.ant-select-clear {
  color: white !important;
}

.ant-tag-checkable {
  color: white !important;
}

.ant-tag-checkable:hover {
  opacity: 1 !important;
}

.ant-tag-checkable-checked {
  opacity: 1;
  scale: 1.05;
  border: 1px solid;
}

.text-shadow {
  text-shadow: -8px 0 0 rgb(102 123 242);
}

.game-description::-webkit-scrollbar {
  width: 6px;
  border-radius: 50%;
}

.game-description::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.game-description::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.412);
  filter: blur(100px);
}

.game-details::-webkit-scrollbar {
  width: 0px;
}

.game-details:hover::-webkit-scrollbar {
  width: 1px;
}

.game-details::-webkit-scrollbar-thumb {
  background-color: rgb(176, 250, 255);
}

.game-details::-webkit-scrollbar-track {
  background-color: transparent;
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-prev {
  color: white !important;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  overflow: visible !important;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

input:checked + label .heart {
  fill: #ff00b7;
  stroke: hsl(0, 0%, 78%);
  animation: heartButton 1s linear;
}

@keyframes heartButton {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

input {
  caret-color: rgb(0, 145, 255);
}

.ant-dropdown-menu {
  background-color: #ecf3fece !important;
  padding: 15px 2px !important;
}

.ant-popover-inner {
  background-color: #ecf3fece !important;
}

.ant-affix {
  height: fit-content !important;
}

.ant-steps-item-title {
  color: white !important;
  text-wrap: wrap;
}

.ant-steps-item-disabled .ant-steps-item-title {
  color: rgb(197, 197, 197) !important;
}

.ant-steps-item-wait .ant-steps-item-icon {
  background-color: rgba(111, 111, 111, 0.633) !important;
}

.ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: rgba(255, 255, 255, 0.36) !important;
}

.ant-steps-item-container {
  display: flex !important;
  align-items: center !important;
  gap: 3px;
}

.show {
  scale: 1 !important;
  opacity: 1 !important;
}
